body
{
    margin: 0;
    padding: 0;    
}
#wall {
    background-image: url("http://www.biocenit.cat/mypics/121/1218691/classic-cars-hd-wallpapers-1920x1080.jpg");
    background-size: cover;
    height: 620px;
}
#wall h1{
    padding-top:180px;
    text-align: center;
}

ul{
    list-style: none;
    text-align: center;
}
ul li{
    display: inline;
    border: 1px solid black;
    padding: 15px;
}